
<table class="table table-bordered">
  <tr>
    <th> link </th>
    <th> likes </th>
    <th> plusones </th>
  </tr>

  <% for link in @links %>
    <tr>
      <td> <%= link.uri %> </td>
      <td> 40 </td>
      <td> 80 </td>
    </td>
  <% end %>


</table>
