<h2> Static Pages</h2>
<table class="table table-bordered">
  <tr>
    <th> Page Namespace </th>
  </tr>

  <% for tag in @samurai.static %>
    <tr>
      <td> <%= link_to tag, edit_tag_path(:key => tag)  %> </td>
    <tr>
  <% end %>
</table>



