<h2> Static Pages</h2>
<table class="table table-bordered">
  <tr>
    <th> Page Namespace </th>
  </tr>

  <% for tag in @samurai.static %>
    <tr>
      <td> <%= tag %> </td>
    <tr>
  <% end %>
</table>


<h2> Dynamic Pages</h2>
<table class="table table-bordered">
  <tr>
    <th> Model </th>
    <th> Page Namespace </th>
  </tr>

  <% @samurai.models.each_key do |model|%>
    <% @samurai.models[model].each do |page| %>
      <tr>
        <td> <%= model %> </td>
        <td> <%= page.humanize %> </td>
      <tr>
    <% end %>
  <% end %>
</table>
